.tm-c-tasklist-form {
  display: flex;
  flex-direction: column;
  padding: rem($space-med);
  margin: rem($space-med);
  background-color: $color-white;
  border-radius: $border-radius-med;
  box-shadow: $box-shadow-default;

  > * {
    margin-bottom: rem($space-xs);
  }

  .tm-c-button-container__centered {
    display: flex;
    justify-content: center;
  }
}

.tm-c-tasklist-form-error {
  color: $color-danger;
  align-self: center;
}