.tm-c-tasklist-form {
  display: flex;
  flex-direction: column;
  padding: rem($space-med);
  margin: rem($space-med);
  background-color: $color-white;
  border-radius: $border-radius-med;
  box-shadow: $box-shadow-default;

  &__compact {
    flex-direction: row;
    padding: rem($space-sm);
    margin: rem($space-sm) 0;

    > * {
      flex:1;
      align-self: center;
    }

    >:not(:last-child) {
      margin-right: rem($space-xs);
    }
  }

  > * {
    margin-bottom: rem($space-xs);
  }

  .tm-c-button-container__centered {
    display: flex;
    justify-content: center;
    padding-top: rem($space-sm);
  }
}

.tm-c-tasklist-form-error {
  color: $color-danger;
  align-self: center;
}