@function rem($size) {
	$remSize: $size / 16px;

	@return #{$remSize}rem;
}

@function em($pixels, $context: 16px) {
	@return #{$pixels/$context}em;
}

@mixin placeholderStyles {
  font-family: $font-family-base;
}

@mixin inputStyles {
	background-color: #fff;
	padding: rem(7px) rem(15px);
	border: 1px solid $color-gray4;
	font-family: $font-family-base;
	font-size: rem($font-size-sm);
	color: $color-gray1;
	border-radius: rem($border-radius-sm);
	width: auto;
	height: rem($space-med);
	transition: all 0.15s linear;

	&:focus {
		outline: none;
	}
}

@mixin selectStyles {
	-webkit-appearance: none;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSI+PC9wb2x5bGluZT48L3N2Zz4=);
	background-size: em(24px);
	background-repeat: no-repeat;
	background-position: center right;
}