// Colors
// -------------------------

$color-primary: #4d90fc;
$color-secondary: #5bc0dd;
$color-success: #60bf60;
$color-alert: #ffcc00;
$color-warning: #ff9800;
$color-danger: #de4b33;
$color-gray0: #37474f;
$color-gray1: #5f6c72;
$color-gray2: #879195;
$color-gray3: #afb5b9;
$color-gray4: #c3c7ca;
$color-gray5: #f4f4f4;
$color-gray6: #f4f4f4;
$color-white: #fff;

// Borders
// -------------------------
$border-success: 5px solid $color-success;
$border-alert: 5px solid $color-alert;
$border-warning: 5px solid $color-warning;
$border-danger: 5px solid $color-danger;

$border-radius-sm: 3px;
$border-radius-med: 5px;

// Typography
// -------------------------
$font-family-base: "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
$headings-font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;

// Buttons
// -------------------------

$btn-primary-border: darken($color-primary, 3.2%);
$btn-secondary-border: darken($color-secondary, 3.2%);
$btn-success-border: darken($color-success, 3.2%);
$btn-warning-border: darken($color-warning, 3.2%);
$btn-danger-border: darken($color-danger, 3.2%);

// Forms
// -------------------------

$input-border-radius: 0;
$input-border-focus: #2598f9;

// Form states and alerts
// -------------------------

$state-success-text: #569845;
$state-success-bg: #dbf5d3;
$state-success-border: #aed3a5;

$state-info-text: #3a87ad;
$state-info-bg: #d9edf7;
$state-info-border: #98cce7;

$state-warning-text: #bf9853;
$state-warning-bg: #fdf8e2;
$state-warning-border: #f2daab;

$state-danger-text: #b94a48;
$state-danger-bg: #f2dede;
$state-danger-border: #e0b1b8;


// Navbar
// -------------------------

$navbar-light-color: #252525;
$navbar-light-hover-color: #4da5f4;
$navbar-light-active-color: #4da5f4;

// Spacing
// -------------------------
$space-lg: 60px;
$space-med: 30px;
$space-sm: 15px;
$space-xs: 8px;

// Font sizing
// -------------------------
$font-size-lg: 30px;
$font-size-med: 18px;
$font-size-sm: 16px;
$font-size-xs: 13px;
$font-size-xxs: 10px;

// Box Shadow
// -------------------------
$box-shadow-default: 0 rem(1px) rem(3px) 0 rgba($color-gray0, 0.09);
$box-shadow-darker: 0 rem(3px) rem(9px) 0 rgba($color-gray0, 0.18);
