.tm-c-task-wrapper {
  list-style: none;
  padding: rem($space-sm);
  background-color: $color-white;
  border-radius: $border-radius-med;
  box-shadow: $box-shadow-default;
  margin: rem($space-sm) rem($space-sm) 0;
  transition: box-shadow 0.25s ease-in-out;

  &:not(:last-child) {
    margin: rem($space-sm);
  }

  &:hover {
    box-shadow: $box-shadow-darker;
  }

  &__completed {
    opacity: 0.35 !important;
  }
}

.tm-c-task-container {
  display: flex;
  flex-direction: column;
}

.tm-c-task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tm-c-task-header-title {
  font-family: $headings-font-family;
  font-size: rem($font-size-med);
  margin: rem($space-sm) 0;

  &__child {
    font-size: rem($font-size-sm);
    margin: 0 rem($space-sm);

    &-completed {
      text-decoration: line-through;
    }
  }
}

.tm-c-task-expander {
  font-size: $font-size-med;
  margin-right: rem($space-xs);
  cursor: pointer;
}

.tm-c-task-body-container {
  display: none;

  &__expanded {
    display: flex;
  }
}

.tm-c-task-body {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-xs;
  margin-left: rem($space-sm);
  flex-direction: column;

  &__left {
    flex: 3;
  }

  &__right {
    flex: 1;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &__childlist {
    justify-content: space-between;
    flex-direction: row;
    border-radius: $border-radius-med;
    box-shadow: $box-shadow-default;
    padding: rem($space-xs);
    transition: all 0.25s ease-in-out;
    background-color: $color-white;
    margin-left: 0;
    margin-bottom: rem($space-sm);

    &-completed {
      opacity: 0.35;
    }
  }

  &__childlist:hover {
    box-shadow: $box-shadow-darker;
  }
}

.tm-c-child-tasklist-container {
  background-color: $color-gray6;
  padding: rem($space-sm);
  border-radius: $border-radius-med;
  box-shadow: $box-shadow-default;
}

.tm-c-child-tasklist {
  margin: 0;
  padding: 0;
}

.tm-c-child-tasklist-header {
  margin-bottom: rem($space-xs);
  display: flex;
}

.tm-c-child-task-body {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

.tm-c-task-description {
  margin-bottom: rem($space-sm);
}

.tm-c-task-footer {
  display: flex;
  justify-content: space-between;
  margin-left: rem($space-sm);
}

.tm-c-task-tags-container {
  align-self: flex-end;
}

.tm-c-task-tags {
  font-size: rem($font-size-xs);
  font-style: italic;
}